@model Report.Models.StudentCoerceDate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentCoerceDate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanedFinishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanedFinishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetail.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SCourseDateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
